@CHARSET "ISO-8859-1";
body,table,tr,td
{
	margin: 0px;
	padding: 0px;

}

p
{
	margin: 0px;
	padding: 0px;
}	

div
{
	margin: 0px;
	padding: 0px;
}	

h1,h2,h3,h4
{
	margin: 0px;
	padding: 0px;
	font-family: arial,sans-serif;
}

ul,li
{
	margin: 0px;
	padding: 0px;
	list-style: none;	
	text-decoration: none;
}

input,label
{
	margin: 0px;
	padding: 0px;
}
a:link , a:vsited , a:hover , a:focus
{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body
{
 background: #FFFCCC;	
}

#main
{
	
/*	background: url("../bg.jpg"); */
	
	
}

#main td
{
	vertical-align: top;
	text-align: center;
	
}

#main .logo
{
	padding:15px 10px 0px 20px;
	width:150px;
	height: 70px;
	float: left;
}

#main .head
{
	margin: 30px 0px 0px 0px;
	width:805px;
	height: 30px;
	float: left;
	background: url("../images/head_bg.jpg") no-repeat;
}

#main .head h1
{
	padding:5px 0px 0px 20px;
	font-size: 18px;
}



#main .content
{
	padding:20px 20px 0px 20px;
	width: 700px;
	height: 430px;
	float: left;
	text-align: left;
}

#main .login
{
	margin:30px 0px 200px 0px;
	width: 230px;
	height: 220px;
	border: 2px solid #C3D6FF;
	float: left;	
}

#main .inlogin
{
	margin:3px 3px;
	width: 225px;
	height: 214px;
	border: none;
	background: #E7EDF9;
	
	
}

#main .inlogin div
{
	padding:5px 0px;
	border-bottom: 1px solid #C3D6FF;
	background: #E7EDF9;
}

#main .inlogin div h2
{
	font-size: 14px;
	font-weight: normal;
}

#main .inlogin div h2 span
{
	padding:0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
}

#main .login .inlogin label
{
	margin:12px 0px 0px 0px;
	display:block;
	width: 75px;
	height:20px;
	float: left;
	font-family: arial,sans-serif;
	font-size: 12px;
}

#main .login .inlogin input
{
	margin:10px 0px 0px 0px;
	border: 1px solid #7E9BB9;
	width: 140px;
	height: 20px;
	float: left;
}

#main .login .inlogin h3
{
	font-size: 8px;
	font-family:arial,sans-serif;
	font-weight: normal;
	color: #616568;
}

#main .login .inlogin input.submit
{
	
	margin:30px 0px 0px 80px;
	background:url("../images/submit.gif") no-repeat;
	width: 55px;
	height: 18px;
	border: none;
}

#main .foot div
{
	clear:both;
	margin:0px auto;
	padding:0px;
	background: url("../images/foot_bg.jpg");
	width: 957px;
	height: 22px;
	
}

#main .foot div p
{
	padding:3px 0px 0px 0px;
	margin:0px;
	font-size: 14px;
}


/******************** next pages ********************************/

/* .................. admin home .................. */

.admin_main
{
	margin:0px;
	padding:0px;
	border: 2px solid #C3D6FF;
	background: #E7EDF9;
}

.admin_main ul li
{
	padding:20px 0px 0px 10px;
}


.admin_main ul li a:link ,.admin_main ul li a:visited
{
	
	font-size:14px;
	font-family:arial,sans-serif;
	text-decoration: none;
	color:#00423C;
}

.admin_main ul li a:hover ,.admin_main ul li a:focus
{
	
	color: green;
}


/* ....................  header styles .................. */

#main 
{
	margin: 0px;
	padding: 0px;
}

#main tr.bor td h2
{
	font-size:14px;
	margin: 0px;
	padding: 0px 60px 20px 0px;
	font-weight: normal;
}

#main .bor h2 span
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	
}

#main .bor h2 span a:link , #main .bor h2 span a:visited
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	text-decoration: none;
	color: red;
}

#main .bor h2 span a:hover , #main .bor h2 span a:focus
{
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	text-decoration: none;
	color: green;
}

#main tr.bor td
{
	text-align:right;
	border-bottom: 2px solid #9D9D9D;
}