<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	
	<servlet>	
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.nitin.action.admin.Login</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>GetProfile</servlet-name>
		<servlet-class>com.nitin.action.admin.GetProfile</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProfile</servlet-name>
		<url-pattern>/GetProfile</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>EditProfile</servlet-name>
		<servlet-class>com.nitin.action.admin.EditProfile</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/EditProfile</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>com.nitin.action.admin.UpdateProfile</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.nitin.action.admin.ChangePassword</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>ChangePass</servlet-name>
		<servlet-class>com.nitin.action.admin.ChangePass</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePass</servlet-name>
		<url-pattern>/ChangePass</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>UserList</servlet-name>
		<servlet-class>com.nitin.action.admin.UserList</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>UserList</servlet-name>
		<url-pattern>/UserList</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.nitin.action.admin.DeleteUser</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>GetImages</servlet-name>
		<servlet-class>com.nitin.action.admin.GetImages</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>GetImages</servlet-name>
		<url-pattern>/GetImages</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>ChangeImage</servlet-name>
		<servlet-class>com.nitin.action.admin.ChangeImage</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeImage</servlet-name>
		<url-pattern>/ChangeImage</url-pattern>	
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	<servlet>	
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.nitin.action.user.Login</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/UserLogin</url-pattern>	
	</servlet-mapping>
	
	<servlet>	
		<servlet-name>UserLogin1</servlet-name>
		<servlet-class>com.nitin.action.user.Login1</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin1</servlet-name>
		<url-pattern>/UserLogin1</url-pattern>	
	</servlet-mapping>
	
	<servlet>	
		<servlet-name>RegisterUser</servlet-name>
		<servlet-class>com.nitin.action.user.RegisterUser</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUser</servlet-name>
		<url-pattern>/RegisterUser</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>StoreImage</servlet-name>
		<servlet-class>com.nitin.action.user.StoreImage</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>StoreImage</servlet-name>
		<url-pattern>/StoreImage</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>ContactDetails</servlet-name>
		<servlet-class>com.nitin.action.user.ContactDetails</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactDetails</servlet-name>
		<url-pattern>/ContactDetails</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>AddContact</servlet-name>
		<servlet-class>com.nitin.action.user.AddContact</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContact</servlet-name>
		<url-pattern>/AddContact</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>AddContact1</servlet-name>
		<servlet-class>com.nitin.action.user.AddContact1</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>AddContact1</servlet-name>
		<url-pattern>/AddContact1</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>DeleteContact</servlet-name>
		<servlet-class>com.nitin.action.user.DeleteContact</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteContact</servlet-name>
		<url-pattern>/DeleteContact</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>Inbox</servlet-name>
		<servlet-class>com.nitin.action.user.Inbox</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>Inbox</servlet-name>
		<url-pattern>/Inbox</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>DeleteMail</servlet-name>
		<servlet-class>com.nitin.action.user.DeleteMail</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMail</servlet-name>
		<url-pattern>/DeleteMail</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>Compose</servlet-name>
		<servlet-class>com.nitin.action.user.Compose</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>Compose</servlet-name>
		<url-pattern>/Compose</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>SendMail</servlet-name>
		<servlet-class>com.nitin.action.user.SendMail</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>GetProfile1</servlet-name>
		<servlet-class>com.nitin.action.user.GetProfile</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>GetProfile1</servlet-name>
		<url-pattern>/GetProfile1</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>EditProfile1</servlet-name>
		<servlet-class>com.nitin.action.user.EditProfile</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfile1</servlet-name>
		<url-pattern>/EditProfile1</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>ChangePassword1</servlet-name>
		<servlet-class>com.nitin.action.user.ChangePassword</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword1</servlet-name>
		<url-pattern>/ChangePassword1</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>UpdateProfile1</servlet-name>
		<servlet-class>com.nitin.action.user.UpdateProfile</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProfile1</servlet-name>
		<url-pattern>/UpdateProfile1</url-pattern>	
	</servlet-mapping>
	<servlet>	
		<servlet-name>ChangePass1</servlet-name>
		<servlet-class>com.nitin.action.user.ChangePass</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePass1</servlet-name>
		<url-pattern>/ChangePass1</url-pattern>	
	</servlet-mapping>
	
	
	
	
</web-app>
